<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>news</title>
    <!--利用thymeleaf表达式获取css路径,bootstrap给button提供样式-->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"></link>
</head>
<body class="container">
<br/>
<h1>添加News</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/news/addNews}"  method="post">
        <div class="form-group">
            <label for="report" class="col-sm-2 control-label">Report</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="report"  id="report" placeholder="Report"/>
            </div>
        </div>
   
     
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="Reset" class="btn btn-info" />
            </div>
        </div>
    </form>
</div>
</body>
</html>
